@import "bootstrap-style.css";

:root {
	--clr-premium-white: #F6F3EB;
	--clr-deep-forest-green: #0c322c;
	--clr-medium-aquamarine: #58aa88;

	--clr-deep-forest-green-rgb: 12, 50, 44;
	--clr-medium-aquamarine-rgb: 88, 170, 136;
	--clr-light-crimson-rgb: 175, 79, 104;
	--clr-crimson-rgb: 174, 36, 72;
	--clr-crimson-rgb-50: 174, 36, 72;
}

.text-crimson {
  --bs-text-opacity: 1;
  color: rgba(174, 36, 72, 1) !important;
}

.text-crimson-50 {
  --bs-text-opacity: 1;
  color: rgba(174, 36, 72, 0.5) !important;
}

.bg-medium-aquamarine {
	--clr-bg-opacity: 1;
	background-color: rgba(var(--clr-medium-aquamarine-rgb), var(--clr-bg-opacity)) !important;
}

.bg-crimson {
	--clr-bg-opacity: 1;
	background-color: rgba(var(--clr-crimson-rgb), var(--clr-bg-opacity)) !important;
}

.bg-light-crimson {
	--clr-bg-opacity: 1;
	background-color: rgba(var(--clr-light-crimson-rgb), var(--clr-bg-opacity)) !important;
}

.bg-deep-forest-green {
	--clr-bg-opacity: 1;
	background-color: rgba(var(--clr-deep-forest-green-rgb), var(--clr-bg-opacity)) !important;
}

.chooser:hover {
	cursor: pointer;
}

.mypopover {
	position: fixed;
	width: 80%;
	height: 85%;
}

.card-button:hover {
	background-color: var(--bs-gray-200);
}

/* Reference: 
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/overlay 
 */
[popover]:popover-open {
  opacity: 1;
  transform: scaleX(1);
}

[popover] {
  font-size: 1.2rem;
  padding: 10px;

  /* Final state of the exit animation */
  opacity: 0;
  transform: scaleX(0);

  border: none;
  border-radius: 10px;
}

/* Needs to be included after the previous [popover]:popover-open
   rule to take effect, as the specificity is the same */
@starting-style {
  [popover]:popover-open {
    opacity: 0;
    transform: scaleX(0);
  }
}

/* Transition for the popover's backdrop */

[popover]::backdrop {
  background-color: transparent;
}

[popover]:popover-open::backdrop {
  background-color: rgb(0 0 0 / 25%);
}

/* Nesting selectors (&) cannot represent pseudo-elements, so this 
   starting-style rule cannot be nested. */

@starting-style {
  [popover]:popover-open::backdrop {
    background-color: transparent;
  }
}
